.git
.gitignore
.env
.env.example
.editorconfig
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
tests
.phpunit.result.cache
.pest
*.log
.DS_Store
Thumbs.db
README.md
docker-compose.yml
.github
